<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Write new Chat</title>
    </head>
    <body>
        <h3>Write new Chat</h3>
        <form method="POST" action="/chats">
            <input placeholder="who are you" name="from">
            <br>
            <br>
            <textarea name="msg">Write your message here...</textarea>
            <br>
            <br>
            <input placeholder="add receiver" name="to">
            <br>
            <br>
            <button>Create Chat</button>
            <br>
        </form>
    </body>
</html>